{% extends 'base.html.twig' %}

{% block title %}Hello FooterController!{% endblock %}

{% block body %}
    <footer class="row bg-dark text-center">
        <div class="row">
            <div class="col-sm text-white">
            <p>TÉLÉCHARGEZ L'APP Loca-Auto</p>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-white">
            <p>SUIVEZ-NOUS</p>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            </div>
        </div>
    </footer>
{% endblock %}
