{% extends 'base.html.twig' %}

{% block title %}Hello FooterController!{% endblock %}

{% block body %}
    <footer class="row bg-dark text-center">
        <div class="row mb-3">
            <div class="col-sm text-white">
            <h2 class="mt-3">TÉLÉCHARGEZ L'APP Loca-Auto</h2>
            <a href="#">Apple<img src="assets/image/" alt=""></a>
            <a href="#">Google<img src="assets/image/" alt=""></a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm text-white">
            <h2 class="mt-3">SUIVEZ-NOUS</h2>
            <a href="#">Fb<img src="assets/image/" alt=""></a>
            <a href="#">twitter<img src="assets/image/" alt=""></a>
            <a href="#">insta<img src="assets/image/" alt=""></a>
            <a href="#">you<img src="assets/image/" alt=""></a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm text-white">
            <h2 class="mt-3">SUIVEZ-NOUS</h2>
            <a href="#">Mentions Légales</a>
            <a href="#">RGPD</a>
            </div>
        </div>
    </footer>
{% endblock %}
